In [1]:
import pymysql
import pymysql.cursors

In [2]:
connection = pymysql.connect(host="mariadb", 
                             port=3306,
                             user="root",
                             db="class_music_festival",
                             autocommit=True,
                             cursorclass=pymysql.cursors.DictCursor)

In [2]:
%load_ext sql
pymysql.install_as_MySQLdb()

In [3]:
%sql mysql://root@mariadb/class_music_festival

'Connected: root@class_music_festival'

In [4]:
%%sql
SELECT * FROM performances LIMIT 9

 * mysql://root@mariadb/class_music_festival
9 rows affected.

[(1361, 'A '),
 (7486, 'A Dehpewit '),
 (4175, 'A Deyzhdoax '),
 (2689, 'A Eawzeb '),
 (5470, 'A Hmpynvir '),
 (6269, 'A Nlynmuq '),
 (4235, 'A Nuhfat '),
 (2271, 'A Putteb '),
 (2077, 'Aabvalh Rucfivcstioprop ')]