In [1]:
import pymysql
import pymysql.cursors

In [2]:
connection = pymysql.connect(host="mariadb", 
                             port=3306,
                             user="root",
                             db="class_music_festival",
                             autocommit=True,
                             cursorclass=pymysql.cursors.DictCursor)

In [2]:
%load_ext sql
pymysql.install_as_MySQLdb()

In [3]:
%sql mysql://root@mariadb/class_music_festival

'Connected: root@class_music_festival'

In [5]:
%%sql
SELECT * FROM performances LIMIT 6

 * mysql://root@mariadb/class_music_festival
6 rows affected.

[(1, datetime.datetime(2011, 9, 17, 12, 30), datetime.datetime(2011, 9, 17, 13, 15), 1, 1),
 (2, datetime.datetime(2011, 9, 17, 14, 0), datetime.datetime(2011, 9, 17, 15, 0), 1, 2),
 (3, datetime.datetime(2011, 9, 17, 16, 0), datetime.datetime(2011, 9, 17, 17, 0), 1, 3),
 (4, datetime.datetime(2011, 9, 17, 18, 0), datetime.datetime(2011, 9, 17, 19, 0), 1, 4),
 (5, datetime.datetime(2011, 9, 17, 20, 0), datetime.datetime(2011, 9, 17, 21, 30), 1, 5),
 (6, datetime.datetime(2011, 9, 17, 11, 45), datetime.datetime(2011, 9, 17, 12, 30), 2, 6)]